*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: beige;
}
.container{
    margin-top: 20px;
}
div{
    width: 52%;
    height:20vh;
}

.historia{
    background-image: url("img/historia.png");
    background-repeat:no-repeat;
    cursor: pointer;

}


.missao{
    background-image: url("img/missao.png");
    background-repeat:no-repeat;
    cursor: pointer;
}

.visao{
    background-image: url("img/visao.png");
    background-repeat:no-repeat;
    cursor: pointer;
} 

.valores{
    background-image: url("img/valores.png");
    background-repeat:no-repeat;
    cursor: pointer;
}


.valores.active{
    background-image: url("img/valoresActive.png") !important;
    background-repeat:no-repeat;
    cursor: pointer;
}

.missao.active{
    background-image: url("img/missaoActive.png") !important;
    background-repeat:no-repeat;
    cursor: pointer;
}

.historia.active{
    background-image: url("img/historiaActive.png") !important;
    background-repeat:no-repeat;
    cursor: pointer;
}

.visao.active{
    background-image: url("img/visaoActive.png") !important;
    background-repeat:no-repeat;
    cursor: pointer;
}


